*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timer{
    width: 100%;
    border-top: 1px solid black ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    height: 100%;
    padding: 1rem 0;
    position: relative;
}
.cuenta-atras{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 3rem 2rem;
    position: relative;
    right: 390px;
    text-shadow: 2px 2px 5px #fff;

}
.timer img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    position: relative;
}   
.fecha{
    font-size: 4rem;
    font-weight: 400;
}

.grupo{
    line-height: 1;
}
.grande{
    font-size:3.5rem;
    font-weight: 800;
}
.timerpar{
    font-size: 4rem;
    position: relative;
    top: 350px;
    left:280px;
    height: 1rem;
}

/* @media (width <550px ){
    .cuenta-atras{
        display: grid;
        columns: 1fr 1fr;
    }
}
@media (width <350px ){
    .cuenta-atras{
        display: flex;
        flex-direction:column;  
    }
} */