<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="shortcut icon" href="/resources/img/LogoWIAC2025.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Home | WIAC 2025</title>
</head>
<body>
    <header class="header">
        <div class="logo"><a href="/"><img class="logo " src="/resources/img/LogoWIAC2025.png" alt="logo wiac 2025"></a></div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label> 
        <nav class="navbar">
                    <ul class="lista">
                        <li><a class="linkNav" href="/">HOME</a></li>
                        <li><a class="linkNav" href="/inscription">INSCRIPCION</a></li>
                        <li><a class="linkNav" href="/ubicacion">UBICACION</a></li>
                        <li><a class="linkNav" href="/participants">PARTICIPANTES</a></li>
                        <li><a class="linkNav" href="/itinerario">ITINERARIO</a></li>   
                        <li><a class="linkNav" href="/tyc">TERMINOS Y CONDICIONES</a></li>       
                        <li><a class="linkNav" href="/admin/form">admin</a></li>    
                    </ul>
        </nav>
    </header>
    <main>
        <div class="bannerHome">
            <img src="resources/img/banner.webp" alt="Torneo de arqueria">
            <p class="hometoptext">Welcome to the</p>
            <h1 class="title titleMain">WIAC Word Indoor Archery Championship 2025</h1>
            <p class="datepara">fecha</p>
            <p class="locationpara">Buenos Aires | Argentina</p>
        </div>
        <div class="containerMain">
            <img src="resources/img/LogoWIAC2025.png" alt="logoWIAC2025">
            <div class="message">
                <h4>Mensaje de los organizadores</h4>
                <br>
                <p>
                Estimados arqueros y aficionados al tiro con arco,<br>
                Nos complace enormemente invitarles al Campeonato Mundial de Tiro con Arco WIAC 2025, organizado por la Asociación Argentina de Tiro con Arco.
                El evento se llevará a cabo del (fecha) y se desarrollará siguiendo las normas y reglamentos de la IFAA. La competencia está abierta a miembros de todo el mundo (limitado a X arqueros) en buena posición de los países miembros.
                El campeonato tendrá lugar en el majestuoso (LOCATION) Este lugar, conocido por sus hermosos paisajes y su rica cultura, será el escenario perfecto para este evento de clase mundial.
                El alojamiento será proporcionado por una variedad de hoteles y resorts en (LOCATION) Después de un día de competencia, los participantes podrán disfrutar de diversas actividades recreativas y de descanso para recargar energías para el día siguiente.
                Finalmente, en nombre de la Asociación Argentina de Tiro con Arco, del Comité Organizador del evento y de todos los arqueros argentinos, les damos una cálida bienvenida a (LOCATION) para el Campeonato Mundial de Tiro con Arco WIAC 2025.
                Atentamente,<br>
                <strong>Gustavo Stancato</strong> <br>
                Presidente del Comité Organizador del Campeonato Mundial de Tiro con Arco WIAC 2025</p></div>
        </div>
        <div class="needHelp"><p class="needHelpP">Need help?</p> <a class="needHelpBtn" href="mailto:aata.argentina.presidente@gmail.com?Subject=Consulta%20sobre%20el%20torneo%20WIAC%202024">aata.argentina.presidente@gmail.com</a>
        </div>
        <div class="schedule">
            <h3>Schedule</h3>
            <div class="scheduleDays">
                <div class="day"><p>08.08.2025</p><p>Open ceremony</p></div>
                <div class="day"><p>09.08.2025</p>First Round Indoor</div>
                <div class="day"><p>10.08.2025</p>Second Round Indoor</div>
                <div class="day"><p>11.08.2025</p>Third Round Indoor</div>
                <div class="day"><p>12.08.2025</p>Awards ceremony - Dinner </div>
        </div>
        </div>
        <div class="booking">
            <div class="card secondGroup">
                <h3>Early Bird</h3>
                <p class="cardUp">Desde la (FECHA) hasta la (FECHA) 2024</p>
                <p class="precio">€170</p>
                <p class="cardDown">Adults/juniors & cubs</p>
                <a class="button type1" href="/inscription">
                    <span class="btn-txt">Register</span></a>
            </div>
            <div class="card earlyBird">
                <h3>SecondCall</h3>
                <p class="cardUp">Desde la (FECHA) hasta la (FECHA) 2024</p>
                <p class="precio">€170</p>
                <p class="cardDown">Adults/juniors & cubs</p>
                <a class="button type1" href="/inscription">
                    <span class="btn-txt">Register</span></a>
            </div>
            <div class="card lastCall">
                <h3>Last call</h3>
                <p class="cardUp">Desde la (FECHA) hasta la (FECHA) 2024</p>
                <p class="precio">€170</p>
                <p class="cardDown">Adults/juniors & cubs</p>
                <a class="button type1" href="/inscription">
                    <span class="btn-txt">Register</span></a>
        </div>
        <div class="readMore"></div>

    </main>
    <footer class="footer">
        <p class="parrafoFooter">WIAC 2025. Derechos reservados</p>
    </footer>
</body>
</html>