<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/loader.css">
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="stylesheet" href="resources/css/timer.css">
    <link rel="shortcut icon" href="/resources/img/newLogo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="resources/js/loader.js"></script>
    <title>Home | WIAC 2025</title>
    <meta name="description" content="wiac Inscription to world indoor archery championship 2025"></meta>
    <meta keywords ="world indoor archery championship 2025 wiac2025 wiac"></meta>
</head>
<body>
    <header class="header">
        <div class="logo"><a href="/"><img class="logo " src="/resources/img/newLogo.png" alt="logo wiac 2025"></a></div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label> 
        <nav class="navbar">
                    <ul class="lista">
                        <li><a class="linkNav" href="/">HOME</a></li>
                        <li><a class="linkNav linkRegistration" href="#">REGISTRATION</a></li>
                        <li><a class="linkNav" href="/ubicacion">LOCATION</a></li>
                        <li><a class="linkNav" href="/participants">PARTICIPANTS</a></li>
                        <li><a class="linkNav" href="/itinerario">SCHEDULE</a></li> 
                        <li><a class="linkNav" href="/turism">TOURISM</a></li>  
                        <li><a class="linkNav" href="/tyc">T&C</a></li>        
                    </ul>
        </nav>
    </header>
    <main class="homeMain">
        <div class="bannerHome">
            <img src="resources/img/bannerWIAC.jpg" alt="Torneo de arqueria">
            <p class="hometoptext">Welcome to the</p>
                <h2 class="homeH2">World Indoor</h2> 
                <h3>Archery Championship 2025</h3>
            <p class="datepara">Nov-03-2025 | Santa Clara del Mar Prov. de Buenos Aires, Argentina </p>
        </div>
        <div class="containerMain">
            <img src="resources/img/newLogo.png" alt="logoWIAC2025">
            <div class="message">
                <h4>Message from the organisers</h4>
                <br>
                <p>
                    Dear archers and fans of archery,
                    We are very pleased to invite you to the WIAC 2025 World Archery Championships, organized by the Argentine Archery Association. <br> The event will take place from November-03-2025 to November-08-2025 and will be held according to the rules and regulations of IFAA. The competition is open to members from all over the world, limited to 288 archers in good standing of member countries. The championship will take place at the majestic <strong>Santa Clara del Mar Sportcenter.</strong><strong><br> It will consist of 1 FLINT ROUND and 2 INDOORS ROUND.</strong><br> Finally, on behalf of the Argentine Archery Association, the event’s Organizing Committee and all Argentine archers, we warmly welcome you to Argentina for the WIAC 2025 World Archery Championship. Sincerely,</p><br>
                <p class="pMsg"><strong>Gustavo Stancato</strong></p>
                <p class="msgBottom">Chairman of the Organising Committee for the WIAC 2025 World Archery Championships</p></div>
        </div>
        <div class="timer">
                <div class="fecha">
                    <span id="fecha"><p>WIAC 2025 starts in: </p></span></div>

                
            <div class="cuenta-atras" id="cuenta-atras">
                <div class="grupo">
                    <p class="grande" id="dias">00</p>
                    <p class="chico">days</p>
                </div>
                <div class="grupo">
                    <p class="grande" id="horas">00</p>
                    <p class="chico">hours</p>
                </div>
                <div class="grupo">
                    <p class="grande" id="minutos">00</p>
                    <p class="chico">minutes</p>
                </div>
                <div class="grupo">
                    <p class="grande" id="segundos">00</p>
                    <p class="chico">seconds</p>
                </div>  
            </div>
        </div>
        <div class="needHelpContainer">
            <button class="needHelpBtn btnHelp"
            onclick="window.location.href='mailto:wiac2025@gmail.com?Subject=Inquiry%20about%20the%20WIAC%202025%20tournament'">
            </button>
        </div>
        <div class="merch">
            <h5 class="subtitle">✨ Our merch is ready! ✨</h5>
            <p class="merchP"> You can order it out through this link 👉 <a class="merchButton" href="https://docs.google.com/forms/d/e/1FAIpQLSfvUoXZNZlTMfsUDmlssARWG5Yyy43Y9isgwlAbagPu_cRQEA/viewform"  target="_blank">Check Merchandising</a></p>
        </div>
        <div class="extraLinks">
            <h4>Please Check Everyday   </h4>
            <div class="links">
                <div class="dailyScore"><a href="https://docs.google.com/spreadsheets/d/13zvVStaXGVmeYkmGwaTmH3ZEF7xzokP1FaJn5y7Vn3c/edit?usp=sharing" target="_blank">Daily Score Table</a></div>
            <div class="shootingOrder"><a href="https://docs.google.com/spreadsheets/d/1WSXQFPmaxI-JM8kh358rGV91yea8xmlnoVmXzvZtLRI/edit?gid=0#gid=0" target="_blank">Daily Shooting Schedule</a></div>
            </div>
        </div>
        <div class="homeSchedule">
            <div class="schlL">
                <h2 class="subtitle">Activity schedule</h2>
            </div>
            <div class="schlR">
                <div class="dropdown">
                    <button class="daySchl">Monday 11-03-2025</button>
                    <div class="dropdown-content">
                        <ul>
                            <li>8hs - 13hs - Registration and equipment inspection </li>
                            <li>8hs - 13hs - Practice range open</li>
                            <li>10hs - 11hs - Women in archery event</li>
                            <li>13hs - 14hs - Captains meeting </li>
                            <li>15hs - 17hs - The March of Nations & Opening ceremony </li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="daySchl">Tuesday 11-04-2025</button>
                    <div class="dropdown-content">
                        <ul>
                            <li>8hs - 13hs - Registration and equipment inspection</li>
                            <li>8hs - 17hs - Practice range open </li>
                            <li class="roundTipe"><strong>INDOOR ROUND</strong></li>
                            <li>9hs - 12hs - Session 1 Group 1 BHR BBR</li>
                            <li>13hs - 16hs - Session 2 Group 2 TR LB FSR HB</li>
                            <li>17hs - 20hs - Session 3 Group 3 FU FSC BU BL BHC BBC</li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="daySchl">Wednesday 11-05-2025</button>
                    <div class="dropdown-content">
                        <ul>
                            <li>8hs - 15hs - Practice Range Open </li>
                            <li class="roundTipe"><strong>FLINT ROUND</strong></li>
                            <li>9hs - 12hs - Session 1 Group 2-1 TR Group 2-2 LB</li>
                            <li>13hs - 16hs - Session 2 Group 1-0 BHR</li>
                            <li>17hs - 20hs - Session 3 Group 1-1 BBR</li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="daySchl">Thursday 11-06-2025</button>
                    <div class="dropdown-content">
                        <ul>
                            <li>8hs - 17hs - Practice Range Open </li>
                            <li class="roundTipe"><strong>FLINT ROUND</strong></li>
                            <li>9hs - 12hs - Session 1 Group 2-0 FSR Group 3-2 BBC Group 3-5 BHC</li>
                            <li>13hs - 16hs - Session 2 Group 3-0 FU Group 3-4 FSC</li>
                            <li>17hs - 20hs - Session 3 Group 2-3 HB Group 3-1 BU</li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="daySchl">Friday 11-07-2025</button>
                    <div class="dropdown-content">
                        <ul>
                            <li>8hs - 17hs - Practice range open </li>
                            <li class="roundTipe"><strong>INDOOR ROUND</strong></li>
                            <li>9hs - 12hs - Session 1 Group 3 FU FSC BU BL BHC BBC</li>
                            <li>13hs - 16hs - Session 2 Group 1 BHR BBR</li>
                            <li>17hs - 20hs - Session 3 Group 2 TR LB FSR HB</li>
                        </ul>
                    </div>
                    </div>
                    <div class="dropdown">
                        <button class="daySchl">Saturday 11-08-2025</button>
                        <div class="dropdown-content">
                            <ul>
                                <li>11hs - 15hs - Award Ceremony
                                    Banquet
                                    Closing Ceremony</li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        <div class="bookingContainer">
            <div class="bookingText">
                <h2 class="subtitle">Book your space</h2>
                <span><p>The tournament starts on Monday 3rd of November 2025 until Saturday 8th of November 2025 <br></p><a href="/itinerario">SEE MORE</a> </span>
                <span><p>The tournament takes place at Santa Clara del Mar Sport center, Buenos Aires, Argentina <br></p><a href="/ubicacion">SEE MORE</a></span>
            </div>
            <div class="bookingDuo">
                <h4>The registration period has now closed</h4>
            <div class="booking">
            <div class="card  secondGroup">
                <span class="spanCard"></span>
                <h3>Early Bird</h3>
                <p class="cardUp">From December 1st 2024 to January 31st 2025</p>
                <p class="precio Up">€150</p>
                <p class="cardDown">Adults - Juniors - Veterans - Seniors</p>
                <p class="precio Dw">€120</p>
                <p class="cardD">Cubs</p>
            </div>
            <div class="card earlyBird">
                <span class="spanCard"></span>
                <h3>Last call</h3>
                <p class="cardUp">From April 1st 2025 to August 10th 2025</p>
                <p class="precio Up">€190</p>
                <p class="cardDown">Adults - Juniors - Veterans - Seniors</p>
                <p class="precio Dw">€140</p>
                <p class="cardD">Cubs</p>
                </div>
                <div class="card lastCall ">
                <span class="spanCard"></span>
            <h3>SecondCall</h3>
            <p class="cardUp">From February 1st 2025 to March 31st 2025</p>
            <p class="precio Up">€170</p>
            <p class="cardDown">Adults - Juniors - Veterans - Seniors</p>
            <p class="precio Dw">€130</p>
            <p class="cardD">Cubs</p>
        </div>
            </div>
            
            
            
            </div>
        </div>
        <div class="IcoWhatsDesk"><a href="https://chat.whatsapp.com/G2PhbfqHOpsL6pJDUHDc3t" target="_blank"><img class="logoWhatsDesk" src="/resources/img/logoWhatsDesk.png" alt="IconoWhats"></a></div>
        <div class="IcoWhats"><a href="https://chat.whatsapp.com/G2PhbfqHOpsL6pJDUHDc3t" target="_blank"><img class="logoWhats" src="/resources/img/logoWhats.png" alt="IconoWhats"></a></div>
    <footer class="footer">
        <div class="containerFooter">
            <img src="/resources/img/logoIFAA(@).png" alt="logoIFAA">
            <img src="/resources/img/newLogo.png" alt="logoWIAC">
            <img src="/resources/img/logoaata.png" alt="logoAATA">
            <div class="footerAconteiner">
                <a href="/tyc" class="tycFooter">T&C</a>
            <a href="/tyc" class="privacyFotter">Privacy Policy</a>
            <a class="aFooter" href="mailto:wiac2025@gmail.com?Subject=Consulta%20sobre%20el%20torneo%20WIAC%202024">Contact us</a>
            </div>
            
        </div>
        <p class="parrafoFooter">WIAC 2025. Derechos reservados</p>
    </footer>
    <div class="loader"></div>
    <script src="resources/js/ulclick.js"></script>
    <script src="resources/js/timer.js"></script>
    <script src="resources/js/schlMenu.js"></script>
</body>
</html>







