<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/loader.css">
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link rel="shortcut icon" href="/resources/img/LogoWIAC2025.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="resources/js/loader.js"></script>
    <title>Inscription | WIAC 2025</title>


</head>
<header class="header">
    <div class="logo"><a href="/"><img class="logo " src="resources/img/LogoWIAC2025.png" alt="logo wiac 2025"></a>
    </div>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <nav class="navbar">
        <ul class="lista">
            <li><a class="linkNav" href="/">HOME</a></li>
            <li><a class="linkNav" href="/inscription">REGISTRATION</a></li>
            <li><a class="linkNav" href="/ubicacion">LOCATION</a></li>
            <li><a class="linkNav" href="/participants">PARTICIPANTS</a></li>
            <li><a class="linkNav" href="/itinerario">SCHEDULE</a></li>
            <li><a class="linkNav" href="/turism">TURISM</a></li>
            <li><a class="linkNav" href="/tyc">T&C</a></li>
        </ul>
    </nav>
</header>

<body>
    <main>
        <div class="containerForm">
            <h1 class="title">Registration</h1>
            <div class="inscriptionContainer">
                <ul>
                    <li>Each inscription is only for one participant.
                    </li>
                    <li>After filling the form, you will get 14 days from the reservation to pay the registration fee and send the receipt to wiac2025@gmail.com
                    </li>
                    <li>After 14 days of the inscription, if you have not made the payment, your reservation will be <strong>CANCELED</strong> </li>
                    <li>The payment instructions will be shown once you have completed the registration</li>
                    <li>After paying, you will get registered and you will get a spot in the WIAC 2025.</li>
                    <li>Note: Amounts will be charged in local currency (ARS).</li>
                    <li>PLEASE NOTE The transfer commission fees are as follows:<br>
                        $15 USD for transfers up to $500 USD.<br>
                        $25 USD for transfers from $501 USD to $1,000 USD.<br>
                        You can include two or more registrations in a single transfer.</li>
                    <li>(*) items in the form need to be complete.</li>
                    
                    <li>Please read the <a class="aForm" href="/tyc">Terms of acceptance </a>before registration.</li>
                </ul>
            </div>
            <form id="registration-form" action="/save" method="POST" novalidate>
                <div class="rowForm">
                    <div class="lineForm ">
                        <label for="Firstname">First name(*):</label>
                        <input type="text" id="Firstname" name="Firstname"  required>
                        <span class="error-message" id="Firstname-error"></span>
                    </div>
                    <div class="lineForm">
                        <label for="Lastname">Last name(*):</label>
                        <input type="text" id="Lastname" name="Lastname" required>
                        <span class="error-message" id="Lastname-error"></span>
                    </div>
                </div>

                <div class="rowForm">
                    <div class="lineForm"><label for="Email">Email(*):</label>
                        <input type="Email" id="Email" name="Email" required>
                        <span class="error-message" id="Email-error"></span>
                    </div>
                    <div class="lineForm">
                        <label for="Federation">Federation(*):</label>
                        <select id="Federation" name="Federation" required>
                            <option value="" disabled selected hidden>Select an option</option>
                            <option value="AAE">AAE</option>
                            <option value="AFAA">AFAA</option>
                            <option value="AATA">AATA</option>
                            <option value="ABA">ABA</option>
                            <option value="OBSV">OBSV</option>
                            <option value="RBA">RBA</option>
                            <option value="GAA">GAA</option>
                            <option value="AFB">AFB</option>
                            <option value="BFAA">BFAA</option>
                            <option value="AC">AC</option>
                            <option value="ACH">ACH</option>
                            <option value="AICC">AICC</option>
                            <option value="CZ3D">CZ3D</option>
                            <option value="EFAA">EFAA</option>
                            <option value="FAAE">FAAE</option>
                            <option value="FFAA">FFAA</option>
                            <option value="FFTL">FFTL</option>
                            <option value="DFBV">DFBV</option>
                            <option value="PAPG">PAPG</option>
                            <option value="HKFAA">HKFAA</option>
                            <option value="HAA">HAA</option>
                            <option value="IBA">IBA</option>
                            <option value="FAAI">FAAI</option>
                            <option value="IFAF">IFAF</option>
                            <option value="FIARC">FIARC</option>
                            <option value="LAF">LAF</option>
                            <option value="FAAFL">FAAFL</option>
                            <option value="LAA">LAA</option>
                            <option value="FLTA">FLTA</option>
                            <option value="FAAM">FAAM</option>
                            <option value="KHN">KHN</option>
                            <option value="NZFAA">NZFAA</option>
                            <option value="NIFAA">NIFAA</option>
                            <option value="PTAF">PTAF</option>
                            <option value="PFAA">PFAA</option>
                            <option value="FABP">FABP</option>
                            <option value="FRATF">FRATF</option>
                            <option value="KFAA">KFAA</option>
                            <option value="RAF">RAF</option>
                            <option value="FSTA">FSTA</option>
                            <option value="SFAA">SFAA</option>
                            <option value="SAA">SAA</option>
                            <option value="SANIFAA">"SANIFAA</option>
                            <option value="AAL">AAL</option>
                            <option value="SFSF">SFSF</option>
                            <option value="FAAS">FAAS</option>
                            <option value="TTFAA">TTFAA</option>
                            <option value="FUTARCO">FUTARCO</option>
                            <option value="NFAA">NFAA</option>
                            <option value="VAF">VAF</option>
                            <option value="VIFAF">VIFAF</option>
                            <option value="WFAA">WFAA</option>
                            <option value="AZA">AZA</option>
                        </select>
                        <span class="error-message" id="Federation-error"></span>
                    </div>
                </div>
                <div class="rowForm">
                    <div class="lineForm"><label for="Country">Country(*):</label>
                        <input type="text" id="Country" name="Country" required>
                        <span class="error-message" id="Country-error"></span>
                    </div>
                    <div class="lineForm">
                        <label for="Ageclass">Age Class(*):</label>
                        <select id="Ageclass" name="Ageclass" required>
                            <option value="" disabled selected hidden>Select an option</option>
                            <option value="Adult">Adult (A)</option>
                            <option value="Cub">Cub (C)</option>
                            <option value="Junior">Junior (J)</option>
                            <option value="Senior">Senior (S)</option>
                            <option value="Veteran">Veteran (V)</option>
                            <option value="Young Adult">Young Adult (YA)</option>
                        </select>
                        <span class="error-message" id="Ageclass-error"></span>
                    </div>
                </div>
                <div class="rowForm">
                    <div class="lineForm">
                        <label for="Gender">Gender(*):</label>
                        <select id="Gender" name="Gender" required>
                            <span class="error-message" id="Gender-error"></span>
                            <option value="" disabled selected hidden>Select an option</option>
                            <option value="F">Female (F)</option>
                            <option value="M">Male (M)</option>
                        </select>
                        <span class="error-message" id="Gender-error"></span>
                    </div>
                    <div class="lineForm">
                        <label for="Bowtype">Bow Type(*):</label>
                        <select id="Bowtype" name="Bowtype" required>
                            <option value="" disabled selected hidden>Select an option</option>
                            <option value="Barebow Compound">Barebow Compound (BB-C)</option>
                            <option value="Barebow Recurve">Barebow Recurve (BB-R)</option>
                            <option value="Bowhunter Compound">Bowhunter Compound (BH-C)</option>
                            <option value="Bowhunter Recurve">Bowhunter Recurve (BH-R)</option>
                            <option value="Bowhunter Limited">Bowhunter Limited (BL)</option>
                            <option value="Bowhunter Unlimited">Bowhunter Unlimited (BU)</option>
                            <option value="Freestyle Limited Compound">Freestyle Limited Compound (FS-C)</option>
                            <option value="Freestyle Limited Recurve">Freestyle Limited Recurve (FS-R)</option>
                            <option value="Freestyle Unlimited">Freestyle Unlimited (FU)</option>
                            <option value="Historical Bow">Historical Bow (HB)</option>
                            <option value="LongBow">LongBow (LB)</option>
                            <option value="Traditional Recurve Bow">Traditional Recurve Bow (TR)</option>
                        </select>
                        <span class="error-message" id="Bowtype-error"></span>
                    </div>
                </div>
                <div class="rowForm">
                    <div class="lineForm">
                        <label for="Target">Target type(*):</label>
                        <select id="Target" name="Target" required>
                            <option value="" disabled selected hidden>Select an option</option>
                            <option value="5 spots">5 Spots</option>
                            <option value="1 spot">1 Spot</option>
                        </select>
                        <span class="error-message" id="Target-error"></span>
                            <label for="Flint"> Flint Target type(*):</label>
                            <select id="Flint" name="Flint" required>
                                <option value="" disabled selected hidden>Select an option</option>
                                <option value="standard">Stardard</option>
                                <option value="4 spots">4 Spots</option>
                            </select>
                            <span class="error-message" id="Flint-error"></span>
                    </div>
                    <div class="lineForm"><label for="Mssg">Message</label>
                        <textarea type="text" id="mssg" name="Mssg" rows="6" cols="72" maxlength="255"></textarea>
                    </div>
                </div>
                <div class="lineForm aceptTYC">
                    <label class="acepTYClabel">
                        I accept the <a href="/tyc">terms & conditions</a> (*)
                        <input type="checkbox" id="termsCheckbox">
                        <span class="error-message" id="terms-error"></span>
                    </label>
                </div>
                <div class="btnContainerInsc">
                    <button class="btnInsc btnReg " type="button" id="checkout-btn" >Register</button>
                    <a class="btnInsc btnCnl" href="/">Cancel</a>
                </div>
            </form>
        </div>

        <div class="needHelpContainer">
            <button class="needHelpBtn btnHelp"
                onclick="window.location.href='mailto:wiac2025@gmail.com?Subject=Inquiry%20about%20the%20WIAC%202025%20tournament'">
            </button>
        </div>
        <script src="/resources/js/InscValidator.js">
            
        </script>
    </main>

    <footer class="footer">
        <div class="containerFooter">
            <img src="/resources/img/logoIFAA(@).png" alt="logoIFAA">
            <img src="/resources/img/LogoWIAC2025.png" alt="logoWIAC">
            <img src="/resources/img/logoaata.png" alt="logoAATA">
            <div class="footerAconteiner">
                <a href="/tyc" class="tycFooter">T&C</a>
            <a href="/tyc" class="privacyFotter">Privacy Policy</a>
            <a class="aFooter" href="mailto:wiac2025@gmail.com?Subject=Consulta%20sobre%20el%20torneo%20WIAC%202024">Contact us</a>
            </div>
            
        </div>
        <p class="parrafoFooter">WIAC 2025. Derechos reservados</p>
    </footer>
    <div class="loader"></div>
    <script src="resources/js/ulclick.js"></script>
</body>

</html>