<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/loader.css">
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link rel="shortcut icon" href="/resources/img/LogoWIAC2025.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <script src="resources/js/loader.js"></script>
    <title>Schedule|WIAC 2025</title>
</head>

<body>
    <header class="header">
        <div class="logo"><a href="/"><img class="logo " src="/resources/img/LogoWIAC2025.png" alt="logo wiac 2025"></a>
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <nav class="navbar">
            <ul class="lista">
                <li><a class="linkNav" href="/">HOME</a></li>
                <li><a class="linkNav" href="/inscription">REGISTRATION</a></li>
                <li><a class="linkNav" href="/ubicacion">LOCATION</a></li>
                <li><a class="linkNav" href="/participants">PARTICIPANTS</a></li>
                <li><a class="linkNav" href="/itinerario">SCHEDULE</a></li>
                <li><a class="linkNav" href="/turism">TOURISM</a></li> 
                <li><a class="linkNav" href="/tyc">T&C</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="title">Schedule</h1>
        <div class="schedule">
            <div class="scheduleInfo">
                <p><strong> Monday, November 3rd:</strong><br> The event begins with equipment registration and inspection from 8:00am. to
                    1:00 p.m. At the same time, the practice field will be opened for participants. At 1:00 p.m. the
                    captains' meeting will take place, where key details of the competition will be discussed.<br> The day
                    will culminate with the March of Nations and the Opening Ceremony at 3:00 pm, a symbolic event that
                    will celebrate unity and the competitive spirit.<br>
                    <strong>Tuesday, November 4th:</strong><br> This day will be dedicated to the official competition. From 8:00 am to 7:00 pm,
                    participants will have the opportunity to demonstrate their skills in the first three rounds, after
                    a new registration and practice period in the early hours of the day.<br>
                    <strong>Wednesday, November 5th and Thursday November 6th:</strong><br>The open practice field and the four rounds of the
                    day will continue, from 8:30 am to 5:30 pm. During these days, competitors will seek to consolidate
                    their positions to advance in the tournament.<br>
                    <strong>Friday, November 7th:</strong><br> It will be a crucial day, with
                    the practice field open from 8:00am and three more rounds of competition that will last until 7:00
                    pm., where the best athletes will seek to secure a place on the podium.<br>
                    <strong>Saturday, November 8th:</strong><br>
                    On this day, the event will close with the Awards Ceremony, which will begin at
                    11:00am, followed by a banquet for the participants.<br>
                    The day will culminate with the Closing
                    Ceremony at 3:00 pm, ending a week of competition and celebrating the winners.</p>
            </div>
            <div class="scheduleDays">
                <img src="/resources/img/scheduletarget.jpg" alt="">
                <div class="day"><span>
                        <h4>Monday</h4>
                        <p>8hs-13hs</p>
                        <p>8hs-13hs</p>
                        <p>13hs-14hs</p>
                        <p>15hs-17hs</p>
                    </span><span>
                        <h4>11-03-2025</h4>
                        <p>Registration and Equipment Inspection</p>
                        <p>Practice range open</p>
                        <p>Captains meeting</p>
                        <p>The March of Nations & Opening ceremony</p>
                    </span></div>
                <div class="day"><span>
                        <h4>Tuesday</h4>
                        <p>8hs-16hs</p>
                        <p>8hs-17hs</p>
                        <p>9hs-12hs</p>
                        <p>12.30hs-15.30hs</p>
                        <p>16hs-19hs</p>
                    </span><span>
                        <h4>11-04-2025</h4>
                        <p>Registration and equipment inspection</p>
                        <p>Practice range open</p>
                        <p>1st Round</p>
                        <p>2nd Round</p>
                        <p>3rd Round</p>
                    </span></div>
                <div class="day"><span>
                        <h4>Wednesday</h4>
                        <p>8hs-13hs</p>
                        <p>8.30hs-11hs</p>
                        <p>11.30hs-14hs</p>
                        <p>14.30hs-17hs</p>
                        <p>17.30hs-20hs</p>
                    </span><span>
                        <h4>11-05-2025</h4>
                        <p>Practice Range Open</p>
                        <p>1st Round</p>
                        <p>2nd Round</p>
                        <p>3rd Round</p>
                        <p>4th Round</p>
                    </span></div>
                <div class="day"><span>
                        <h4>Thursday</h4>
                        <p>8hs-13hs</p>
                        <p>8.30hs-11hs</p>
                        <p>11.30hs-14hs</p>
                        <p>14.30hs-17hs</p>
                        <p>17.30hs-20hs</p>
                    </span><span>
                        <h4>11-06-2025</h4>
                        <p>Practice Range Open</p>
                        <p>1st Round</p>
                        <p>2nd Round</p>
                        <p>3rd Round</p>
                        <p>4th Round</p>
                    </span></div>
                <div class="day"><span>
                        <h4>Friday</h4>
                        <p>8hs-16hs</p>
                        <p>8hs-17hs</p>
                        <p>9hs-12hs</p>
                        <p>12.30hs-15.30hs</p>
                        <p>16hs-19hs</p>
                    </span><span>
                        <h4>11-07-2025</h4>
                        <p>Registration and equipment inspection</p>
                        <p>Practice range open</p>
                        <p>1st Round</p>
                        <p>2nd Round</p>
                        <p>3rd Round</p>
                    </span></div>
                    <div class="day"><span>
                        <h4>Saturday</h4>
                        <p>11hs-15hs</p>
                        <p></p>
                    </span><span>
                        <h4>11-08-2025</h4>
                        <p>Award Ceremony & Banquet Closing Ceremony</p>
                    </span></div>
            </div>

            <div class="needHelpContainer">
                <button class="needHelpBtn btnHelp"
                    onclick="window.location.href='mailto:wiac2025@gmail.com?Subject=Inquiry%20about%20the%20WIAC%202025%20tournament'">
                </button>
            </div>
    </main>
    <footer class="footer">
        <div class="containerFooter">
            <img src="/resources/img/logoIFAA(@).png" alt="logoIFAA">
            <img src="/resources/img/LogoWIAC2025.png" alt="logoWIAC">
            <img src="/resources/img/logoaata.png" alt="logoAATA">
            <div class="footerAconteiner">
                <a href="/tyc" class="tycFooter">T&C</a>
            <a href="/tyc" class="privacyFotter">Privacy Policy</a>
            <a class="aFooter" href="mailto:wiac2025@gmail.com?Subject=Consulta%20sobre%20el%20torneo%20WIAC%202024">Contact us</a>
            </div>
            
        </div>
        <p class="parrafoFooter">WIAC 2025. Derechos reservados</p>
    </footer>
    <div class="loader"></div>
    <script src="resources/js/ulclick.js"></script>
</body>

</html>