<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/loader.css">
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="shortcut icon" href="/resources/img/LogoWIAC2025.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="resources/js/loader.js"></script>
    <title>Participants | WIAC 2025</title>
</head>
<body>
    <header class="header">
        <div class="logo"><a href="/"><img class="logo " src="/resources/img/LogoWIAC2025.png" alt="logo wiac 2025"></a></div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label> 
        <nav class="navbar">
                    <ul class="lista">
                        <li><a class="linkNav" href="/">HOME</a></li>
                        <li><a class="linkNav" href="/inscription">REGISTRATION</a></li>
                        <li><a class="linkNav" href="/ubicacion">LOCATION</a></li>
                        <li><a class="linkNav" href="/participants">PARTICIPANTS</a></li>
                        <li><a class="linkNav" href="/itinerario">SCHEDULE</a></li>   
                        <li><a class="linkNav" href="/tyc">TERMS AND CONDITIONS</a></li>       
                    </ul>
        </nav>
    </header>
    <main>
        <h1 class="title">Participants</h1>
        <div class="containerParticipants">
            <h2 class=""><Title>listado de participantes</Title></h2>
            <a class="listadoPart" target="_blank" href="https://lookerstudio.google.com/reporting/77e0ed9e-9a75-4540-9faf-64af1d343acb">LISTADO</a>
        </div>
        <div class="needHelpContainer">
            <button class="needHelpBtn btnHelp"
                onclick="window.location.href='mailto:aata.argentina.presidente@gmail.com?Subject=Inquiry%20about%20the%20WIAC%202025%20tournament'">
            </button>
        </div>
    </main>
    <footer class="footer">
        <div class="containerFooter">
            <img src="/resources/img/logoIFAA(@).png" alt="logoIFAA">
            <img src="/resources/img/logoWIAC2025.png" alt="logoWIAC">
            <img src="/resources/img/logoaata.png" alt="logoAATA">
            <a href="/tyc" class="tycFooter">Terms & conditions</a>
            <a href="/tyc" class="privacyFotter">Privacy Policy</a>
            <a class="aFooter" href="mailto:aata.argentina.presidente@gmail.com?Subject=Consulta%20sobre%20el%20torneo%20WIAC%202024">Contact us</a>
            
        </div>
        <p class="parrafoFooter">WIAC 2025. Derechos reservados</p>
    </footer>
    <div class="loader"></div>
</body>
</html>