<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/loader.css">
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link rel="stylesheet" href="/resources/css/slider.css">
    <link rel="shortcut icon" href="/resources/img/LogoWIAC2025.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="resources/js/loader.js"></script>
    <title>Turism | WIAC 2025</title>
</head>

<body>
    <header class="header">
        <div class="logo"><a href="/"><img class="logo " src="/resources/img/LogoWIAC2025xmas.png" alt="logo wiac 2025"></a>
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <nav class="navbar">
            <ul class="lista">
                <li><a class="linkNav" href="/">HOME</a></li>
                <li><a class="linkNav" href="/inscription">REGISTRATION</a></li>
                <li><a class="linkNav" href="/ubicacion">LOCATION</a></li>
                <li><a class="linkNav" href="/participants">PARTICIPANTS</a></li>
                <li><a class="linkNav" href="/itinerario">SCHEDULE</a></li>
                <li><a class="linkNav" href="/turism">TOURISM</a></li>
                <li><a class="linkNav" href="/tyc">T&C</a></li>

            </ul>
        </nav>
    </header>
    <main class="turisMain">
        <div class="turisContainer">
            <h1 class="title">Tourism</h1>
            <div class="mdqMoreInfo">
                <h3>Mar del plata</h3>
                <img src="/resources/img/mdq.webp" alt="Mar del Plata Beach">
                <p>Mar del Plata is a coastal city located in the province of Buenos Aires, Argentina, recognized as one of the country's top tourist destinations. Famous for its wide beaches, vibrant nightlife, and diverse cultural activities, it blends natural attractions with modern infrastructure. Its economy also stands out for its fishing industry and international events, such as the International Film Festival. The municipal tourism office promotes unique experiences, ranging from seaside strolls and water sports to exploring its historic architecture and savoring delicious seafood-based cuisine.</p>
                <p>Mar del Plata is a neighboring city and the main urban center near Santa Clara del Mar, located about 18 kilometers to the south. It serves as an important point of reference for the residents and tourists of Santa Clara del Mar.</p>
                <p class="mdqMoreInfoPbottom"><strong>for more information</strong></p><a href="https://www.turismomardelplata.gob.ar/" target="_blank">CLICK HERE</a>
            </div>
            <div class="santaClaraMoreInfo">
                <h3>Santa Clara del Mar</h3>
                <img src="/resources/img/santaClara.jpg" alt="Santa Clara del Mar beach">
                <p>This tourist destination is characterized by its tranquility, with wide beaches of warm waters and a relaxed atmosphere, ideal for those looking to escape the hustle and bustle of big cities. The town offers a variety of accommodation, restaurants, and outdoor activities, such as coastal walks and water sports. Santa Clara del Mar is popular among both tourists seeking rest and those who enjoy the natural beauty of the region.
                </p>
                <p class="mdqMoreInfoPbottom"><strong>for more information</strong></p><a href="https://santaclaradelmar.com/" target="_blank">CLICK HERE</a>
            </div>
            <h2 class="subtitle">Hotels</h2>
            <div class="turismHotel">
                <h3>HOTEL KONKE</h3>
                <p class="topP">Mar del Plata</p>
                <div class="hotelRight">
                    <div class="slider">
                        <div class="slides">
                            <div class="slide"><img src="/resources/img/konke1.jpg" alt="Image 1"></div>
                            <div class="slide"><img src="/resources/img/konke2.jpg" alt="Image 2"></div>
                            <div class="slide"><img src="/resources/img/konke3.jpg" alt="Image 3"></div>
                            <div class="slide"><img src="/resources/img/konke4.jpg" alt="Image 4"></div>
                            <div class="slide"><img src="/resources/img/konke5.jpg" alt="Image 5"></div>
                            <div class="slide"><img src="/resources/img/konke6.jpg" alt="Image 6"></div>
                        </div>
                        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
                        <button class="next" onclick="moveSlide(1)">&#10095;</button>
                    </div>
                </div>
                <div class="hotelLeft">
                    <a href="https://hotelkonkemardelplata.com/">www.hotelkonkemardelplata.com</a>
                    <p>7-day, 6-night program, including daily breakfast</p>
                    <p>Foreigners tax-free (21% off)</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Room</th>
                                <th>From</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Double</td>
                                <td>US$ 1170</td>
                            </tr>
                            <tr>
                                <td>Triple</td>
                                <td>US$ 1500</td>
                            </tr>
                        </tbody>
                    </table>
                    <span>
                        <h4>For reservations</h4>
                    <p>Whatsapp +5491122693550</p>
                    <p>reservas@hotelkonkemardelplata.com</p>
                    </span>
                </div>
            </div>
            <div class="turismHotel">
                <h3>HOTEL NOVI</h3>
                    <p class="topP">Mar del Plata</p>
                <div class="hotelRight">       
                    <div class="slider">
                        <div class="slides">
                            <div class="slide"><img src="/resources/img/novi1.jpg" alt="Image 1"></div>
                            <div class="slide"><img src="/resources/img/novi2.jpg" alt="Image 2"></div>
                            <div class="slide"><img src="/resources/img/novi3.jpg" alt="Image 3"></div>
                            <div class="slide"><img src="/resources/img/novi4.jpg" alt="Image 4"></div>
                            <div class="slide"><img src="/resources/img/novi5.jpg" alt="Image 5"></div>
                            <div class="slide"><img src="/resources/img/novi6.jpg" alt="Image 6"></div>
                        </div>
                        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
                        <button class="next" onclick="moveSlide(1)">&#10095;</button>
                    </div>
                </div>
                <div class="hotelLeft">
                    <p>7-day, 6-night program, including daily breakfast</p>
                    <p>Foreigners tax-free (21% off)</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Room</th>
                                <th>From </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Double</td>
                                <td>US$ 456</td>
                            </tr>
                            <tr>
                                <td>Triple</td>
                                <td>US$ 660</td>
                            </tr>
                        </tbody>
                    </table>
                    <span>
                        <h4>For reservations</h4>
                        <p>Whatsapp +5492235373923</p>
                        <p>hotelnovi@gmail.com</p>
                    </span>
                </div>
            </div>
            
            <h2 class="subtitle">Excursions, transfers and tourist advice</h2>
            <div class="club360">
                <img src="/resources/img/Club360.png" alt="club 360">
                <h3>Services:</h3>
                <ul>
                    <li>Transfers from Buenos Aires airports to hotels in Mar del Plata (round trip).</li>
                    <li>Daily transfers from hotels in Mar del Plata to Santa Clara del Mar (round trip).</li>
                    <li>Excursions, tours, and tourist advice.</li>
                </ul>
                <h3>Inquires and reservation</h3>
                <div>
                    <p>Whatsapp +54 9 223 6872911</p>
                    <p>serviciosclub360@gmail.com</p>
                </div>
            </div>
            <div class="tiendaLeonMoreinfo">
                <img src="/resources/img/tiendaLeon.jpg" alt="Tienda Leon">
                <h3>Services:</h3>
                <ul>
                    <li>Transfers from Buenos Aires airports to hotels in Mar del Plata (round trip).</li>
                    <li>Daily transfers from hotels in Mar del Plata to Santa Clara del Mar (round trip).</li>
                    <li>Excursions, tours, and tourist advice.</li>
                </ul>
                <h3>Inquires and reservation</h3>
                <div>
                    <p>Whatsapp +54 9 11 5450-9599</p>
                </div>
                

            </div>
            <div class="needHelpContainer turismNeed">
                <button class="needHelpBtn btnHelp"
                    onclick="window.location.href='mailto:wiac2025@gmail.com?Subject=Inquiry%20about%20the%20WIAC%202025%20tournament'">
                </button>
            </div>
            <div class="IcoWhatsDesk"><a href="https://chat.whatsapp.com/G2PhbfqHOpsL6pJDUHDc3t" target="_blank"><img class="logoWhatsDesk" src="/resources/img/logoWhatsDesk.png" alt="IconoWhats"></a></div>
            <div class="IcoWhats"><a href="https://chat.whatsapp.com/G2PhbfqHOpsL6pJDUHDc3t" target="_blank"><img class="logoWhats" src="/resources/img/logoWhats.png" alt="IconoWhats"></a></div>
        </div>    
    </main>
    <footer class="footer">
        <div class="containerFooter">
            <img src="/resources/img/logoIFAA(@).png" alt="logoIFAA">
            <img src="/resources/img/LogoWIAC2025.png" alt="logoWIAC">
            <img src="/resources/img/logoaata.png" alt="logoAATA">
            <div class="footerAconteiner">
                <a href="/tyc" class="tycFooter">T&C</a>
            <a href="/tyc" class="privacyFotter">Privacy Policy</a>
            <a class="aFooter" href="mailto:wiac2025@gmail.com?Subject=Consulta%20sobre%20el%20torneo%20WIAC%202024">Contact us</a>
            </div>
            
        </div>
        <p class="parrafoFooter">WIAC 2025. Derechos reservados</p>
    </footer>
    <div class="loader"></div>
    <script src="resources/js/slider.js"></script>
    <script src="resources/js/ulclick.js"></script>
</body>

</html>