<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link rel="shortcut icon" href="/resources/img/LogoWIAC2025.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>TyC | WIAC 2025</title>
</head>

<body>
    <header class="header">
        <div class="logo"><a href="/"><img class="logo " src="/resources/img/LogoWIAC2025.png" alt="logo wiac 2025"></a>
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <nav class="navbar">
            <ul class="lista">
                <li><a class="linkNav" href="/">HOME</a></li>
                <li><a class="linkNav" href="/inscription">REGISTRATION</a></li>
                <li><a class="linkNav" href="/ubicacion">LOCATION</a></li>
                <li><a class="linkNav" href="/participants">PARTICIPANTS</a></li>
                <li><a class="linkNav" href="/itinerario">SCHEDULE</a></li>
                <li><a class="linkNav" href="/tyc">TERMINS AND CONDITIONS</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="title">Terms & Conditions</h1>
        <div class="tycContainer">
            <ol>
                <li>
                    <h4>Eligibility
                    </h4>All registered archers shall be members in good standing of one IFAA member associations. That
                    means you MUST be a member of an IFAA member Association at the moment of registration and at the
                    moment of Tournament.<br>
                    All registered archers must have recorded 2 (two) Indoor o Flint Indoor scores in their scorecards
                    within the two years previous to the start of WFAC2024.<br>
                    All attending archers shall be in possession of the classification card. This classification card
                    shall be presented at the moment of registration, prior to bow inspection. Archers without a
                    classification card will NOT participate the tournament. This statement is according to the Book of
                    Rules 2021-2022 requirements of Article VII A, sub-articles 4 and 5.
                </li>
                <li>
                    <h4>Registry fees and dates</h4>
                    Registration shall be open on October-7-2024.<br>
                    Registration fees for individuals early bird shall be:<br>
                    Professionals, Seniors, Veterans, Adult and Young Adult: 150€
                    Juniors and Cubs: 120€<br>
                    Fees for the Style Team shall be 30€ for each team.<br>
                    Registration and payment at WIAC Registration Desk.<br>
                    Fees for the Champion of Nations shall be 100€ each team.<br>
                    Registration and payment at WIAC Registration Desk<br>
                    The list containing confirmed archers will be updated every DAY<br>
                    Registration shall close on April-30-2025 or earlier, if the number of registered archers reach 288.<br>
                    The final date to change style is April-30-2025.
                </li>
                <li>
                    <h4>Cancellation Policy</h4>
                    Reimbursement of registration fees in the case of a written cancellation.<br>
                    Send a request by email to aata.argentina.presidente@gmail.com. with subject REFUND WIAC 2025.<br>
                    * Before Dicember-01-2025: 90% of entry fee<br>
                    * Before March-01-2025: 50% of entry fee<br>
                    * Before May-01-2025: 20% of entre fee<br>
                    * No refund after February-29-2025<br>
                    The above refund policy is only for registration fees and excludes accommodation.<br>
                    The WIAC 2025 Organizing Committee is NOT responsible for any type of reservations related to
                    accommodation.Please contact travel agency or hotel directly regarding the refund policy for
                    accommodation.<br>
                    Please note: taxes, charges and administrative fee will not be refunded.
                </li>
                <li>
                    <h4>Banquet and Award Ceremony</h4>
                    The award banquet will be hosted at the main tent area.<br> Tickets for the Banquet will be sold at
                    the registration desk with a price 30€.<br>
                    Award ceremony to be held in the same venue on Sunday 12nd.
                </li>
                <li>
                    <h4>Transportation</h4>
                    <!-- The Organization is working on a shuttle line from the listed hotel to the main tent and this service will be offered in the near future.
                        Rental cars are available at IGU – Iguaçu International Airport and are a strong suggestion for those hosted out of listed hotels.
                        For renting a car is necessary at leasr 21 years old, drivers license and passaport. 
                        The access to the ranges will be on the WFAC buses, leaving and returning main tent, only. No cars will be all</li> -->
            </ol>
        </div>
        <div class="notesContainer">
            <h4>IMPORTANT NOTES:</h4>
            <h4>VISA</h4>
            <p>Countries that DO NOT need a visa to enter Argentina as tourists:</p>
            <h5>South America:</h5>
            <p> Bolivia<br>
                Brazil<br>
                Chili<br>
                Colombia<br>
                Ecuador<br>
                Paraguay<br>
                Peru<br>
                Uruguay<br>
                Venezuela<br>
                Duration: 90 days (in some cases it can be renewable for another 90 days).</p>
            <hr>
            <h5>North and Central America:</h5>
            <p>Antigua and Barbuda<br>
                Bahamas<br>
                Barbados<br>
                Belize<br>
                Canada<br>
                Costa Rica<br>
                Dominica<br>
                El Salvador<br>
                USA<br>
                Grenade<br>
                Guatemala<br>
                Honduras<br>
                Mexico<br>
                Nicaragua<br>
                Panama<br>
                Saint Kitts and Nevis<br>
                Saint Vincent and the Grenadines<br>
                Saint Lucia<br>
                Trinidad and Tobago<br>
                Duration: 90 days.</p><hr>
            <h5>Europe:</h5>
            <p>Germany<br>
                Andorra<br>
                Austria<br>
                Belgium<br>
                Bosnia and Herzegovina<br>
                Bulgaria<br>
                Czechia<br>
                Cyprus<br>
                Croatia<br>
                Denmark<br>
                Slovakia<br>
                Slovenia<br>
                Spain<br>
                Estonia<br>
                Finland<br>
                France<br>
                Greece<br>
                Hungary<br>
                Ireland<br>
                Iceland<br>
                Italy<br>
                Kosovo<br>
                Latvia<br>
                Lithuania<br>
                Luxembourg<br>
                Malta<br>
                Moldova<br>
                Monaco<br>
                Montenegro<br>
                Norway<br>
                Netherlands<br>
                Poland<br>
                Portugal<br>
                United Kingdom<br>
                Romania<br>
                Russia<br>
                San Marino<br>
                Serbia<br>
                Sweden<br>
                Swiss<br>
                Ukraine<br>
                Vatican<br>
                Duration: 90 days.</p><hr>
            <h5>Asia:</h5>
            <p>
                South Korea<br>
                Philippines<br>
                Hong Kong<br>
                Israel<br>
                Japan<br>
                Malaysia<br>
                Singapore<br>
                Taiwan<br>
                Thailand<br>
                Türkiye<br>
                Duration: 90 days.</p><hr>
            <h5>Oceanía:</h5>
            <p>
                Australia<br>
                Fiji<br>
                Islas Marshall<br>
                Micronesia<br>
                Nauru<br>
                Nueva Zelanda<br>
                Palau<br>
                Papua Nueva Guinea<br>
                Samoa<br>
                Tonga<br>
                Tuvaluv<br>
                Vanuatu<br>
                Duration: 90 days.</p><hr>

            <h5>Africa:</h5>
            <p></p>
            South Africa<br>
            Duration: 90 days.</p><hr>
            <p>It is important to always check the validity of the passport, as many countries require it to be valid
                for at least 6 months from the date of entry.</p>
            <p>
                It is your responsibility to check with the Argentine consulate in each country before traveling for
                up-to-date details on requirements.</p><hr>

            <h4>HEALTH RECOMMENDATIONS</h4>
            <h5> Medical Insurance</h5>
            <p>It is recommended that all travelers have travel medical insurance that covers medical treatments and
                hospitalization.</p>
            </p>Argentina has public hospitals throughout the country, and the public health system is free for
            tourists. However, waiting times can be long and private clinics can have high costs for non-residents.</p>
            <p>Make sure the insurance covers repatriation in case of emergency.</p><hr>

            <h4>Privacy Policy</h4>
            <p>At WIAC 2025, we are committed to protecting the privacy of our users and customers. This privacy policy
                describes how we collect, use and share personal information we obtain through our website.</p>
            <h5>Information We Collect</h5>
            <p>We collect and process the following types of information:<br>

                Personal Data: Name, email address, telephone number and any other information that you decide to
                provide to us voluntarily.<br>
                Browsing Data: IP address, browser type, pages visited, time spent and other data collected through
                cookies and similar technologies.<br>
                Payment Information: If you make transactions on our site, financial information necessary to complete
                the payment will be collected (this is done through secure third-party platforms).<br></p>
            <h5>Use of Information</h5>
            <p>We use the information collected for the following purposes:<br>

                Provide and manage requested services.<br>
                Improve the user experience on our website.<br>
                Communicate with you about promotions, offers or updates to our services (provided you have given your
                consent).<br>
                Comply with our legal obligations and resolve disputes.Information<br> </p>
            <h5>Share Information with Third Parties</h5>
            <p>We do not share, sell or rent your personal information to third parties, except as follows:<br>
                With service providers who help us operate our website and provide services (for example, payment
                processing or site hosting).<br>
                When required by law or to protect our legal rights.<br>
            </p>
            <h5>Information Protection</h5>
            <p>We implement appropriate security measures to protect your personal data against unauthorized access,
                alteration, disclosure or destruction. However, please note that no method of transmission over the
                Internet or electronic storage is 100% secure.</p>
            <h5>Your Rights</h5>
            <p>You have the right to access, update or delete your personal data at any time. You can also request the
                limitation of the processing of your data or its portability. To exercise these rights, contact us
                through aata.argentina.presidente@gmail.com.</p>
            <h5>Changes to the Privacy Policy</h5>
            <p>
                We reserve the right to modify this privacy policy at any time. Any changes will be published on this
                page and, if significant, we will notify you through the contact information you have provided us.</p>
        </div>
        <div class="needHelpContainer">
            <button class="needHelpBtn btnHelp"
                onclick="window.location.href='mailto:aata.argentina.presidente@gmail.com?Subject=Inquiry%20about%20the%20WIAC%202025%20tournament'">
            </button>
        </div>
    </main>

    <footer class="footer">
        <div class="containerFooter">
            <img src="/resources/img/logoIFAA(@).png" alt="logoIFAA">
            <img src="/resources/img/logoWIAC2025.png" alt="logoWIAC">
            <img src="/resources/img/logoaata.png" alt="logoAATA">
            <a href="/tyc" class="tycFooter">Terms & conditions</a>
            <a href="/tyc" class="privacyFotter">Privacy Policy</a>
            <a class="aFooter"
                href="mailto:aata.argentina.presidente@gmail.com?Subject=Consulta%20sobre%20el%20torneo%20WIAC%202024">Contact
                us</a>

        </div>
        <p class="parrafoFooter">WIAC 2025. Derechos reservados</p>
    </footer>
</body>

</html>