<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/loader.css">
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link rel="shortcut icon" href="/resources/img/newLogo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="resources/js/loader.js"></script>
    <title>Location | WIAC 2025</title>
</head>
<body>
    <header class="header">
        <div class="logo"><a href="/"><img class="logo " src="/resources/img/newLogo.png" alt="logo wiac 2025"></a></div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label> 
        <nav class="navbar">
                    <ul class="lista">
                        <li><a class="linkNav" href="/">HOME</a></li>
                        <li><a class="linkNav" href="/inscription">REGISTRATION</a></li>
                        <li><a class="linkNav" href="/ubicacion">LOCATION</a></li>
                        <li><a class="linkNav" href="/participants">PARTICIPANTS</a></li>
                        <li><a class="linkNav" href="/itinerario">SCHEDULE</a></li>
                        <li><a class="linkNav" href="/turism">TOURISM</a></li>    
                        <li><a class="linkNav" href="/tyc">T&C</a></li>       
                    </ul>
        </nav>
    </header>
    <main class="ubicacionMain">
        <h1 class="title">Location</h1>
        <h2>The tournament takes place at Santa Clara del Mar Sport center</h2>
        <div class="ubicacionContainer">
            <iframe class="ubicacionIframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3048.501227504663!2d-57.51051781554116!3d-37.83512316297116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584d103b8e8f7d3%3A0xff4556524ff54401!2sPolideportivo%20Santa%20Clara%20del%20Mar!5e1!3m2!1sen!2ses!4v1731847971004!5m2!1sen!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="ubicacionParraf"><p class="ubicacionDetail">For more information about <strong>Santa Clara del Mar Sport center</strong></p>
            <a href="https://santaclaradelmar.com/anuncio/polideportivo-de-santa-clara-del-mar/" target="_blank">Click here</a>
        </div>
    <div class="needHelpContainer">
        <button class="needHelpBtn btnHelp"
        onclick="window.location.href='mailto:wiac2025@gmail.com?Subject=Inquiry%20about%20the%20WIAC%202025%20tournament'">
        </button>
    </div>
    <div class="IcoWhatsDesk"><a href="https://chat.whatsapp.com/G2PhbfqHOpsL6pJDUHDc3t" target="_blank"><img class="logoWhatsDesk" src="/resources/img/logoWhatsDesk.png" alt="IconoWhats"></a></div>
    <div class="IcoWhats"><a href="https://chat.whatsapp.com/G2PhbfqHOpsL6pJDUHDc3t" target="_blank"><img class="logoWhats" src="/resources/img/logoWhats.png" alt="IconoWhats"></a></div>
</main>
<footer class="footer">
    <div class="containerFooter">
        <img src="/resources/img/logoIFAA(@).png" alt="logoIFAA">
        <img src="/resources/img/newLogo.png" alt="logoWIAC">
        <img src="/resources/img/logoaata.png" alt="logoAATA">
        <div class="footerAconteiner">
            <a href="/tyc" class="tycFooter">T&C</a>
        <a href="/tyc" class="privacyFotter">Privacy Policy</a>
        <a class="aFooter" href="mailto:wiac2025@gmail.com?Subject=Consulta%20sobre%20el%20torneo%20WIAC%202024">Contact us</a>
        </div>
        
    </div>
    <p class="parrafoFooter">WIAC 2025. Derechos reservados</p>
</footer>
    <div class="loader"></div>
    <script src="resources/js/ulclick.js"></script>
</body>
</html>